body
{
    background: #e9e9e9;
}

h2
{
    margin-top: 10px;
}

th
{
    text-align: right;
    width: 150px;
}

td
{
    padding-left: 10px;
}

.repeater
{
  background: white;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px rgba(1, 1, 1, 0.7);
  box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
  margin: 10px;
}

a {
  color: blue;
}