body {
  padding: 50px;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f8f8ff;
}

h1
{
    color: #191970;
    text-align:left;
}

h2
{
    color: #191970;
    text-align:left;
}

th
{
    text-align: right;
}

td
{
    padding-left: 10px;
    color: #191970;
}

a {
  color: #00B7FF;
}