h1
{
    color: #191970;
    text-align:left;
}

h2
{
    color: #191970;
    text-align:left;
}

th
{
    text-align: right;
    width: 150px;
}

td
{
    padding-left: 10px;
    color: #191970;
}

a {
  color: #00B7FF;
}