<h2>{{event.title}}</h2>
<p>{{event.description}}</p>
<table>
    <tr>
        <th>Category</th>
        <td>{{event.eventCategory}}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td><a href="{{event.mapUrl}}" target="_blank">{{event.location}}</a></td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{event.address}}</td>
    </tr>
    <tr>
        <th>Age Range</th>
        <td>{{event.ageRange}}</td>
    </tr>
    <tr>
        <th>Day of Week</th>
        <td>{{event.dayOfWeek}}</td>
    </tr>
    <tr>
        <th>Time of Day</th>
        <td>{{event.timeOfDay}}</td>
    </tr>
    <tr>
        <th>Fee</th>
        <td>{{event.fee}}</td>
    </tr>
    <tr>
        <th>Contact Number</th>
        <td>{{event.contactNumber}}</td>
    </tr>
</table>
<div>
    <h3>Reviews</h3>

    <div ng-show="reviews.length < 1">Be the first to write a review!</div>
    <div ng-repeat="review in reviews">
        <div>Date: {{review.date}}</div>
        <div>Rating: {{review.rating}}/5</div>
        <div>{{review.user}} says "{{review.comment}}"</div>
        <br>
    </div>
    <h3>Write a Review</h3>

    <form ng-submit="saveReview()">
        <table>
            <tr>
                <th>Your Name</th>
                <td><input ng-model="newReview.user" type="text" placeholder="Your Name"/></td>
            </tr>
            <tr>
                <th>Rating</th>
                <td><input ng-model="newReview.rating" type="text" placeholder="rating out of 5"/></td>
            </tr>
            <tr>
                <th>Comments</th>
                <td><textarea ng-model="newReview.comment" placeholder="Comments"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="Publish Review"/>
    </form>
</div>
