<h1>Filter</h1>
<form action="{{search.url}}">
    <input type="text" name="q"></input>
    <input type="submit" value="Filter"></input>
</form>

<h1>Events</h1>
<div ng-repeat="event in events">
    <h2>{{event.title}}</h2>
    <p>{{event.description}}</p>
    <table>
        <tr>
            <th>Category</th>
            <td>{{event.eventCategory}}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td><a href="{{event.mapUrl}}" target="_blank">{{event.location}}</a></td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{event.address}}</td>
        </tr>
        <tr>
            <th>Age Range</th>
            <td>{{event.ageRange}}</td>
        </tr>
        <tr>
            <th>Day of Week</th>
            <td>{{event.dayOfWeek}}</td>
        </tr>
        <tr>
            <th>Time of Day</th>
            <td>{{event.timeOfDay}}</td>
        </tr>
        <tr>
            <th>Fee</th>
            <td>{{event.fee}}</td>
        </tr>
        <tr>
            <th>Contact Number</th>
            <td>{{event.contactNumber}}</td>
        </tr>
    </table>
</div>