<h1>Filter</h1>
<form ng-submit="submit()" ng-controller="EventListCtrl">
    <input type="text" ng-model="query.q">
    <input type="hidden" ng-model="query.offset" value="0">
    <button ng-click="submit(query)">Filter</button>
    <!--<input type="submit" id="submit" value="Filter">-->
</form>

<h1>Events</h1>
<div class="repeater" ng-repeat="event in events">

    <h2><a href="#/events/{{event._id}}">{{event.title}}</a></h2>
    <p>{{event.description}}</p>
    <table class= "table table-striped">
        <tr>
            <th>Category</th>
            <td>{{event.eventCategory}}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td><a href="{{event.mapUrl}}" target="_blank">{{event.location}}</a></td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{event.address}}</td>
        </tr>
        <tr>
            <th>Age Range</th>
            <td>{{event.ageRange}}</td>
        </tr>
        <tr>
            <th>Day of Week</th>
            <td>{{event.dayOfWeek}}</td>
        </tr>
        <tr>
            <th>Time of Day</th>
            <td>{{event.timeOfDay}}</td>
        </tr>
        <tr>
            <th>Fee</th>
            <td>{{event.fee}}</td>
        </tr>
        <tr>
            <th>Contact Number</th>
            <td>{{event.contactNumber}}</td>
        </tr>
    </table>
</div>