<div class="container">

    <h1>Register for {{event.title}}</h1>

    <br>

    <p>{{event.description}}</p>

    <p><a href="#/events/{{event._id}}">Back to {{event.title}}</a></p>

    <form ng-submit="createRegistrationForm()" class="form-horizontal" role="form">

        <div class="repeater">
            <h2>Parent/Guardian Information</h2>

            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.firstName" id="firstName" type="text" class="form-control"
                           placeholder="John"/>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.lastName" id="lastName" type="text" class="form-control"
                           placeholder="Public"/>
                </div>
            </div>

            <div class="form-group">
                <label for="primaryPhone" class="col-sm-2 control-label">Primary Phone</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.primaryPhone" id="primaryPhone" type="text" class="form-control"
                           placeholder="(555) 555-5555"/>
                </div>
            </div>

            <div class="form-group">
                <label for="secondaryPhone" class="col-sm-2 control-label">Secondary Phone</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.secondaryPhone" id="secondaryPhone" type="text"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="emergencyContact" class="col-sm-2 control-label">Emergency #/Name</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.emergencyContact" id="emergencyContact" type="text"
                           class="form-control" placeholder="(555) 555-5555 / Jane"/>
                </div>
            </div>

            <div class="form-group">
                <label for="address1" class="col-sm-2 control-label">Address</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.address1" id="address1" type="text" class="form-control"
                           placeholder="123 Tall Oak Street"/>
                </div>
            </div>

            <div class="form-group">
                <label for="address2" class="col-sm-2 control-label">Apt</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.address2" id="address2" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">City</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.city" id="city" type="text" class="form-control"
                           placeholder="Las Vegas"/>
                </div>
            </div>

            <div class="form-group">
                <label for="zip" class="col-sm-2 control-label">Zip</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.zip" id="zip" type="text" class="form-control"
                           placeholder="89148"/>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input ng-model="registrationForm.email" id="email" type="text" class="form-control"
                           placeholder="john.public@gmail.com"/>
                </div>
            </div>
        </div>


        <div class="repeater">
            <h2>Participant Information</h2>

            <div class="form-group">
                <div class="col-sm-10">
                    <table>
                        <tr>
                            <th>Participant Name</th>
                            <th>Date of Birth</th>
                        </tr>
                        <tr ng-repeat="participant in registrationForm.participants">
                            <td><input ng-model="participant.name" type="text" class="form-control"
                                       placeholder="Timmy Public"/></td>
                            <td><input ng-model="participant.dob" type="text" class="form-control"
                                       placeholder="2005-03-28"/></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button class="btn" type="button" ng-disabled="registrationForm.participants.length > 2"
                            ng-click="addParticipant()">Add Participant
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label for="specialAccommodations" class="col-sm-2 control-label">Do any participants need special
                    accomodations?</label>

                <div class="col-sm-10">
                    <textarea ng-model="registrationForm.special" id="specialAccommodations"
                              class="form-control"></textarea>
                </div>
            </div>

        </div>

        <div class="repeater">
            <h2>Activities</h2>

            <div class="form-group">
                <div class="col-sm-10">
                    <table>
                        <tr>
                            <th>Activity Code#</th>
                            <th>Activity Name</th>
                            <th>Session #</th>
                            <th>Participant Name (First,Last)</th>
                            <th>Fee</th>
                        </tr>
                        <tr ng-repeat="class in registrationForm.classes">
                            <td><input ng-model="class.code" type="text" class="form-control"/></td>
                            <td><input ng-model="class.className" type="text" class="form-control"/></td>
                            <td><input ng-model="class.session" type="text" class="form-control"/></td>
                            <td><input ng-model="class.participantName" type="text" class="form-control"/></td>
                            <td><input ng-model="class.fee" type="text" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total Fee</td>
                            <td>${{totalFees()}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <button class="btn" type="button" ng-disabled="registrationForm.classes.length > 3"
                            ng-click="addClass()">Add Class
                    </button>
                </div>
            </div>
        </div>

        <div class="repeater">
            <h2>Payment Information</h2>

            <p>If paying by check, please provide the following information.</p>

            <div class="form-group">
                <label for="driversLicenseNumber" class="col-sm-2 control-label">Drivers License Number</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="registrationForm.licenseNo" id="driversLicenseNumber"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="driversLicenseState" class="col-sm-2 control-label">Drivers License State</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="registrationForm.licenseState" id="driversLicenseState"
                           class="form-control"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="submit">Create Registration Form</button>
                </div>
            </div>
        </div>
    </form>
</div>